<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; My Awesome Camp 2022</span>
        <span><a href="/about">About Me</a></span>
    </div>
</footer>