<% layout('layouts/boilerplate')%>
<div>
    <h2>Hey there friend.</h2>
    <h4>If you have a great picnic spot in mind, <strong>Share</strong> it with us :) </h4>
    
    <div class="mb-3"></div>

    <p> My name is <strong><i>Rahul</i></strong> and I welcome you to my first web application. <b>&#9996;</b>
    <br>
    Here you can share your favourite places with the whole wide world <strong>&#128513;</strong>.
    <br>
    Go crazy on the web site and find out things that I may have overlooked.
    <br> 
    In case of any bugs that you may find, email me at <b><i>mycamp.helpdesk@gmail.com</i></b>
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    <br> 
    Thanks to <em>Colt Steele</em> for the awesome web developer course. &#128083;
    </p>
</div>
